body {
    background-color: #ece7e0b2;
}

header {
    margin: 1rem auto;
    border: 1px solid #366d85;
    box-shadow: 2px 2px 5px #f6f7f8;
}

h1, h2, h3 {
    font-family: "Playfair Display", serif;
    background-color: #f6f7f8;
    margin: 0;
    padding: 1rem;
}

h3 {
    text-align: center;
}

p, li {
    font-family: "Lora", serif;
    margin: 0;
    padding: 1rem;
}

section, footer {
    background-color: #66cefa96;
    margin: 1rem;
    border: 1px solid #366d85;
    box-shadow: 2px 2px 5px #f6f7f8;
}

section img {
    max-width: 500px;
    height: auto;
    display: block;
    margin: 1rem auto;
    border: 1px solid #366d85;
    box-shadow: 2px 2px 5px #f6f7f8;
}